# Dependencies
node_modules/
.pnp.*

# Build output
dist/
build/
.next/
.expo/
.turbo/
.nx/
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*
!.env.example

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local storage
.minio/
.redis/
.postgres/
